<section class="panel top-banner gallery">
  <div class="container">
    <div class="top-banner-text">
      <h2>
        <span>The purpose</span> of
        <span>art</span> is washing the dust of
        <span>daily life</span>
        <span>off our souls</span>
      </h2>
    </div>
    <a href="#about-section" class="scroll-btn">
      <span></span>
    </a>
  </div>
</section>
<section class="panel back-picture" id="what-we-do">
  <div class="container">
    <h2 class="main-heading">Gallery</h2>
    <div *ngFor="let item of paitingsList; let i = index" class="collection-rows">
      <div class="col-md-4">
        <div (click)="clickOnItem(i)" class="inner-div" [style.backgroundImage]="'url(' + item.path+ ')'">
        </div>
      </div>
    </div>
  </div>
</section>
