<section class="panel top-banner specification">
  <div class="container">
    <div class="top-banner-text">
      <h2>
        <span>All religions, arts and sciences</span> are
        <span> branches </span> of the same tree.</h2>
    </div>
    <a href="#about-section" class="scroll-btn">
      <span></span>
    </a>
  </div>
</section>
<div class="panel back-picture" id="what-we-do">
  <div class="container">
    <div class="row">
      <h2 class="main-heading">Specifications</h2>
      <div *ngFor="let item of paitings; let i = index" class="specifications-rows clearfix">
        <div class="col-md-4 col-sm-12">
          <div class="inner-div">
            <img src={{item.url}} alt="" class="">
          </div>
        </div>
        <div class="col-md-8 col-sm-12 description">
          <h4> {{item.name}} </h4>
          <p>{{item.description}}
          </p>
        </div>
      </div>

    </div>
    <a href="#footer" class="scroll-btn">
      <span></span>
    </a>
  </div>
</div>