.social-icons{
    a{
        font-size: 30px;
        color: #fff;
        i{
            border: none;
            &:hover{
                // font-size: 35px;
                color: #FEC051;
            }
        }
    }
}
.footerDiv {
    color: #fff;
    .blog {
        min-height: 100px;
    }
    .image {
        padding-bottom: 70px;
        /* height: 70px; */
        background-size: cover;
        background-position: center;
    }
}
