.social-icons{
    a{
        font-size: 30px;
        color: #fff;
        i{
            border: none;
            &:hover{
                // font-size: 35px;
                color: #FEC051;
            }
        }
    }
}
.footerDiv {
    color: #fff;
    .blog {
        min-height: 100px;
        display: flex;
    }
    .image {
        flex: 1;
        >div {
        padding-bottom: 70px;
        /* height: 70px; */
        background-size: cover;
        background-position: center;
        box-shadow: 2px 5px 15px 3px #000000;
        }
    }
    .description {
        flex: 2;
    }
}
