.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  background-color: #fff;
  .number {
    letter-spacing: 2px;
    i {
      border: none;
      font-size: 20px;
      color: #FEC051;
    }
  }
  .name {
    font-family: 'Oregano', cursive;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
  }
}
.fa-shopping-cart {
  color: #30ADA1;
}
.header-mobile {
  .icon-cart {
    display: none;
  }
}
.header-nav {
  // background-color:#e8e1d8;
  text-align: center;
  .navbar-nav {
    float: none;
    display: inline-block;
  }
}
.cartCount {
  position: relative;
  span {
    position: absolute;
    background-color: greenyellow;
    border-radius: 50%;
    min-width: 20px;
    min-height: 12px;
    text-align: center;
    top: 3px;
  }
}

@media (max-width: 767px) {
  .top-header {
    justify-content: center;
  }
  .header-nav {
    ul {
      width: 100%;
      li{
        &:nth-last-child(2) {
          border-bottom: 1px solid #FEC051;
        }
      }
    }
  }
  .icon-left {
    float: left;
  }
  .navbar-collapse::after {
    display: none;
  }
  .navbar-header:before {
    display: none;
  }
  .header-mobile {
    position: relative;
    padding: 0 20px;
    height: 55px;
    button {
      height: 35px;
    margin-top: 10px;
    }
    .icon-dot {
      padding: 0;
      font-size: 20px;
    }
    .icon-cart{
      display: table;
      float: right;
    }
    .webName {
      display: table;
      position: absolute;
      top: 50%;
      margin-top: -15px;
      left: 50%;
      width: 40%;
      margin-left: -20%;
      text-align: center;
      font-family: 'Oregano', cursive;
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: bold;
    }
  }
}