<app-banner></app-banner>
<section class="panel top-banner home">
    <div class="container">
        <div class="overlay"></div>
        <div class="top-banner-text">
            <h2>Art, freedom and creativity will change society faster than
                <span>politics</span>
            </h2>
        </div>
        <a href="#services-section" class="scroll-btn">
            <span></span>
        </a>
    </div>
</section>

<section class="panel services-section" id="services-section">
    <div class="container">
        <div class="home-content-div">
            <div class="contectForm">
                <form class="formContact" #buyForm="ngForm" (ngSubmit)="onSubmit(paintingForm, template1, templateModal)">
                    <div class="form-group">
                        <label for="pwd">Name:</label>
                        <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="paintingForm.name" placeholder="Enter name"
                            required>
                        <span class="help-block" *ngIf="name.errors?.required && name.touched">
                            User name is required
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="paintingForm.email" placeholder="Enter email"
                            required [email]="paintingForm.email !== ''">
                        <span class="help-block" *ngIf="email.errors?.required && email.touched">
                            Email is required
                        </span>
                        <span class="help-block" *ngIf="email.errors?.email && email.touched">
                            Email is invalid
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Phone:</label>
                        <input type="number" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="paintingForm.phone" placeholder="Enter phone number"
                            required>
                        <span class="help-block" *ngIf="phone.errors?.required && phone.touched">
                            Phone is required
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Address:</label>
                        <input type="text" class="form-control" name="address" #address="ngModel" [(ngModel)]="paintingForm.address" placeholder="Enter address"
                            required>
                        <span class="help-block" *ngIf="address.errors?.required && address.touched">
                            Address is required
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Message:</label>
                        <input type="text-area" class="form-control" name="message" #message="ngModel" [(ngModel)]="paintingForm.message" placeholder="Enter message"
                            required>
                        <span class="help-block" *ngIf="message.errors?.required && message.touched">
                            Message is required
                        </span>
                    </div>
                    <button type="submit" class="btn btn-default" [disabled]="buyForm.invalid">Submit</button>
                </form>
            </div>
        </div>
        <a href="#update-section" class="scroll-btn dark">
            <span></span>
        </a>
    </div>
</section>