<div class="loginWrapper">
  <div class="loginInner">
    <div class="loginContainer">
        <h1 class="loginLabel">Hey Login first</h1>
        <p class="note"> Note- hey just for continue you should have to login first by clicking on this button.</p>
        <button type="button" class="btn btn-block socialButotn" (click)="signInWithGoogle()">
          <i class="fa fa-google" aria-hidden="true"></i>
          Login with Google
        </button>
        <a class="btn btn-lg btn-primary" href="" role="button" (click)="logout()">Logout</a>
         <!-- <a class="btn btn-lg btn-primary" href="" role="button" (click)="logout()">Logout</a> -->
    </div>
  </div>
</div>