<div class="gallery" id="gallery">
    <div class="scroll">
        <div class="card">
          <div style="background-image: url(./assets/images/painting/banner1.jpg)" class="inner-div">
            <div class="borderDiv"></div>
            <div class="text">
              <span class="textShadow">Hey, beautiful</span>
              <!-- <p> From </p> -->
            </div>
          </div> 
        </div>
        <div class="card">
          <div style="background-image: url(./assets/images/painting/banner4.jpg)" class="inner-div">
            <div class="borderDiv"></div>
              <div class="text">
                <span class="textShadow">Eye</span>
                <!-- <p> From $50</p> -->
              </div>
            </div> 
          </div>
        <div class="card">
          <div style="background-image: url(./assets/images/painting/banner3.jpg)" class="inner-div">
            <div class="borderDiv"></div>
            <div class="text">
              <span class="textShadow">Jai hanuman</span>
              <!-- <p> From $50</p> -->
            </div>
          </div> 
        </div>
        <div class="card">
          <div style="background-image: url(./assets/images/painting/banner2.jpg)" class="inner-div">
            <div class="borderDiv"></div>
            <div class="text">
              <span class="textShadow">Little bird</span>
              <!-- <p> From $50</p> -->
            </div>
          </div> 
        </div>
        <div class="card">
          <div style="background-image: url(./assets/images/painting/banner4.jpg)" class="inner-div">
            <div class="borderDiv"></div>
            <div class="text">
              <span class="textShadow">Eye</span>
              <!-- <p> From $50</p> -->
            </div>
          </div> 
        </div>
        <div class="card">
          <div style="background-image: url(./assets/images/painting/banner3.jpg)" class="inner-div">
            <div class="borderDiv"></div>
            <div class="text">
              <span class="textShadow">Jai hanuman</span>
              <!-- <p> From $50</p> -->
            </div>
          </div> 
        </div>
        <div class="card">
          <div style="background-image: url(./assets/images/painting/banner1.jpg)" class="inner-div">
            <div class="borderDiv"></div>
            <div class="text">
              <span class="textShadow">Hey, beautiful</span>
              <!-- <p> From $50</p> -->
            </div>
          </div> 
        </div>
    </div>
  </div>