<div class="gallery" id="gallery">
    <div class="scroll">
        <div class="card">
          <div style="background-image: url(./assets/images/painting/banner1.jpg)" class="inner-div">
            <div class="borderDiv"></div>
            <div class="text">
              <h2 class="textShadow">Hey, beautiful</h2>
              <!-- <p> From </p> -->
            </div>
          </div> 
        </div>
        <div class="card">
          <div style="background-image: url(./assets/images/painting/banner4.jpg)" class="inner-div">
            <div class="borderDiv"></div>
              <div class="text">
                <h2 class="textShadow">Eye</h2>
                <!-- <p> From $50</p> -->
              </div>
            </div> 
          </div>
        <div class="card">
          <div style="background-image: url(./assets/images/painting/banner3.jpg)" class="inner-div">
            <div class="borderDiv"></div>
            <div class="text">
              <h2 class="textShadow">Jai hanuman</h2>
              <!-- <p> From $50</p> -->
            </div>
          </div> 
        </div>
        <div class="card">
          <div style="background-image: url(./assets/images/painting/banner2.jpg)" class="inner-div">
            <div class="borderDiv"></div>
            <div class="text">
              <h2 class="textShadow">Little bird</h2>
              <!-- <p> From $50</p> -->
            </div>
          </div> 
        </div>
        <div class="card">
          <div style="background-image: url(./assets/images/painting/banner4.jpg)" class="inner-div">
            <div class="borderDiv"></div>
            <div class="text">
              <h2 class="textShadow">Eye</h2>
              <!-- <p> From $50</p> -->
            </div>
          </div> 
        </div>
        <div class="card">
          <div style="background-image: url(./assets/images/painting/banner3.jpg)" class="inner-div">
            <div class="borderDiv"></div>
            <div class="text">
              <h2 class="textShadow">Jai hanuman</h2>
              <!-- <p> From $50</p> -->
            </div>
          </div> 
        </div>
        <div class="card">
          <div style="background-image: url(./assets/images/painting/banner1.jpg)" class="inner-div">
            <div class="borderDiv"></div>
            <div class="text">
              <h2 class="textShadow">Hey, beautiful</h2>
              <!-- <p> From $50</p> -->
            </div>
          </div> 
        </div>
    </div>
  </div>