<div>
  <app-banner></app-banner>
  <section class="home-content">
    <div class="paddingMain creativity">
      <h1>Our Creativity</h1>
      <p>
          Eyecatchy Arts – We deal in paintings and arts, if You are painting and art lover then you are on the right platform,
          you can purchase our goods directly from our portals or can order as per your requirements, eyecatchy arts
          founded in the year of 2016. we are here to serve our clients as effective as we can and we grow daily. So Hurry Up..!!
          replace your wall’s colours with our paintings and change your world.
      </p>
      <p>Join our industry specific communities and discover our network</p>
    </div>
  </section>
  <section class="about-us">
    <div class="paddingMain opacityZero" id="animateDiv">
      <h1>About us</h1>
      <div class="row mainAbout ">
        <div class="col-md-6 order">
          <div>
              <div class="aboutFounder">
                  <div class="name">Huma Sadiya</div>
                  <div class="occupation">(Founder of eyecatchyArts)</div>
              </div>
              <p>Intelligence will never stop being beautiful, learn as much as you can, as you have to exercise daily
                  to keep your body in shape, You have to read and learn on a daily basis, never waste your single
                  minute because time is money. We are here for purpose, We are here to do something big, don’t be a product of your surroundings, be a product of
                  your own decisions.</p>
            
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-aboutus photo1">
            <div class="img"></div>
          </div>
        </div>
      </div>
      <div class="row mainAbout">
          <div class="col-md-6 order">
            <div>
                <div class="aboutFounder">
                    <div class="name">Rahil Mujahid</div>
                    <div class="occupation">(Founder of eyecatchyArts)</div>
                </div>
                <p>I believe we must have dream in our life, because dream is the first step of your grand success, Just if you can’t hustle don’t even bother to grind, life is all about
                    learning and knowledge the more you gain the more powerful you will be, Come on don’t live a same
                    year again and again and call it a life, don’t be a mediocre, just do something big and leave a legacy
                    behind, believe me everyone becomes your friend when you are successful.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-aboutus photo2">
              <div class="img"></div>
            </div>
          </div>
      </div>
    </div>
  </section>

  <section class="video">
    <div class="" >
      <div class="video">
        <video controls (click)="toggleVideo()" #videoPlayer>
          <source src="assets/images/other/damari.mp4" type="video/mp4" />
          Browser not supported
        </video>
      </div>
    </div>
  </section>

  <!-- <section class="panel services-section" id="services-section">
      <div class="container">
          <div class="home-content-div">
              <h2>Be The First To See Our New CREATIVITY</h2>
              <p>Eyecatchy Arts – We deal in paintings and arts, if You are painting and art lover then you are on the right platform,
                  you can purchase our goods directly from our portals or can order as per your requirements, eyecatchy arts
                  founded in the year of 2016. we are here to serve our clients as effective as we can and we grow daily. So Hurry Up..!!
                  replace your wall’s colours with our paintings and change your world. </p>
              <p>Join our industry specific communities and discover our network</p>
          </div>
          <a href="#update-section" class="scroll-btn dark">
              <span></span>
          </a>
      </div>
  </section> -->
</div>