<div class="detail-main">
  <div class="container">
    <div class="row">
      Cart
      Cart
      Cart

      Cart
      Cart
      Cart
      CartCart

    </div>
    <div class="row">
      Cart
      Cart
      Cart

      Cart
      Cart
      Cart
      CartCart
      
    </div>

    <div class="row">
      Cart
      Cart
      Cart

      Cart
      Cart
      Cart
      CartCart
      
    </div>
    <div *ngFor="let item of list; let i = index">
      {{item.name}}
    </div>
  </div>
</div>