<div class="detail-main">
  <div class="container">
    <div class="row">
      <ul class="list-group col-sm-12">
        <li *ngFor="let item of list; let i = index" class="list-group-item cartList row">
          <div class="col-sm-3 imgWrapper">
            <div class="img" [style.backgroundImage]="'url(' + item.path+ ')'"></div>
          </div>
          <div class="col-sm-6 descriptionWrapper">
            <h3>{{item.name}}</h3>
            <div>{{item.size}}</div>
            <div>{{item.prize}}</div>
          </div>
          <div class="col-sm-3 buttonsDiv">
            <app-button (click)="removeItem(i)" text="Remove" textColor="#eabc42" border="grey"></app-button>
          </div>
        </li>
      </ul>
      <div class="cart-btn" *ngIf="list.length > 0">
        <button type="button" class="btn btn-lg btn-block" (click)="addToCart()">Proceed to pay</button>
      </div>
      <div class="col-sm-12 noItems" *ngIf="list.length <= 0">
        No items
      </div>
    </div>
  </div>
</div>