.cartList {
  .imgWrapper {
    .img {
        min-height: 100px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
  }
  .descriptionWrapper {
      // flex: 3;
  }
}
.cart-btn{
  padding: 30px auto;
  button{
    background: #30ADA1;
    color: #fff;
  }
}
.noItems {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}