<section class="panel top-banner about">
    <div class="container">
        <div class="top-banner-text">
            <h2>
                <span>Simplicity</span> is
                <span>nature's</span> first step
                <span>and</span>
                <span>last of art</span>
            </h2>
        </div>
        <a href="#about-section" class="scroll-btn">
            <span></span>
        </a>
    </div>
</section>
<section class="panel what-we-do" id="what-we-do">
    <div class="container">
        <div>
            <h2>Who We Are</h2>
            <p>The hub of paintings and arts.</p>
            <p>We provide paintings in any size.</p>
            <!-- <p>Free delivery across the world. (Offer Limited) </p> -->
            <p>The fastest growing start up.</p>
            <!-- <p>Global clients.</p> -->
        </div>

        <a href="#footer" class="scroll-btn">
            <span></span>
        </a>
    </div>
</section>
<section class="panel update-section event-bg" id="update-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="update-inner">
                    <h3 class="about-profile">
                        <span class="about-profile">
                            <img src="assets/images/other/rahil.jpg" alt="profile-img" class="img-responsive">
                        </span>
                        <div class="">
                            <div class="name">Rahil Mujahid</div>
                            <div>Founder of eyecatchyArts</div>
                        </div>
                    </h3>
                    <p>I believe we must have dream in our life, because dream is the first step of your grand success, dream
                        is a vision, dream is a direction, dream is everything, Just start imagining the success you want
                        and make a plan to achieve your victory and start working on it each and every day, Just forget everything
                        and focus on your goal and destiny, if you can’t hustle don’t even bother to grind, life is all about
                        learning and knowledge the more you gain the more powerful you will be, Come on don’t live a same
                        year again and again and call it a life, don’t be a mediocre, just do something big and leave a legacy
                        behind, believe me everyone becomes your friend when you are successful.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="update-inner">
                    <h3 class="about-profile">
                        <span>
                            <img src="assets/images/other/huma.jpg" alt="profile-img" class="img-responsive">
                        </span>
                        <div class="">
                            <div class="name">Huma Sadiya</div>
                            <div>Founder of eyecatchyArts</div>
                        </div>
                    </h3>
                    <p>Intelligence will never stop being beautiful, learn as much as you can, as you have to exercise daily
                        to keep your body in shape, You have to read and learn on a daily basis, never waste your single
                        minute because time is money, The more you invest in yourself the more it will return later, you
                        don’t need to follow the crowd, make your own lane and just follow your passion because it is like
                        a creativity having fun, We are here for purpose, We are here to create something, we are here to
                        serve, we are here to do something big, don’t be a product of your surroundings, be a product of
                        your own decisions.</p>
                </div>
            </div>
        </div>
        <a href="#predict-section" class="scroll-btn">
            <span></span>
        </a>
    </div>
</section>